<div class="jumbotron">
	<h1 class="text-center">Medicos</h1>
</div>

<p><a class="btn btn-primary btn-lg" href="/medico/cadastro" role="button">Cadastrar Medico</a></p>
</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Primeiro Nome</th>
      <th>Último Nome</th>
      <th>Email</th>
      <th>Ativo</th>
      <th>Ocupado</th>
    </tr>
  </thead>
  <tbody>
		<tr ng-repeat="medico in medicos">
      <th href="/medicos/editar/{{medico._id}}">{{contato.id}}</th>
      <th>{{contato.primeiroNome}}</th>
      <th>{{contato.ultimoNome}}</th>
      <th>{{contato.email}}</th>
      <th>{{contato.ativo}}</th>
      <th>{{contato.ocupado}}</th>
    </tr>
  </tbody>
</table>

<div class="well well-sm">Clique no Indice para editar o Medico</div>
