<div class="jumbotron">
	<h1 class="text-center">Medicos</h1>
</div>

<p><a class="btn btn-primary btn-lg" href="/medico/cadastro" role="button">Cadastrar Medico</a></p>
</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Primeiro Nome</th>
      <th>Último Nome</th>
      <th>Email</th>
      <th>Ativo</th>
      <th>Ocupado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="medicos/editar/1">1</a></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><input type="checkbox"></td>
      <td>Sim</td
    </tr>
    <tr>
      <th scope="row"><a href="medicos/editar/1">2</a></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td><input type="checkbox"></td>
      <td>Não</td
    </tr>
    <tr>
      <th scope="row"><a href="medicos/editar/1">3</a></th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>@Facebook</td>
      <td><input type="checkbox"></td>
      <td>Sim</td>
    </tr>
  </tbody>
</table>

<div class="well well-sm">Clique no Indice para editar o Medico</div>
