
<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Primeiro Nome</label>
			<input name="primeiroNome" class="form-control" ng-model="medico.primeiroNome" required>
		</div>
    <div class="form-group">
			<label>Último Nome</label>
			<input name="ultimoNome" class="form-control" ng-model="medico.ultimoNome" required>
		</div>
    <div class="form-group">
			<label>Especialidade</label>
			<input name="especialidade" class="form-control" ng-model="medico.especialidade" required>
		</div>
    <div class="form-group">
			<label>Email</label>
			<input name="email" class="form-control" ng-model="medico.email" required>
		</div>
    <div class="form-group">
			<label>Ativo</label>
			<input name="ativo" class="form-control" ng-model="medico.ativo" required>
		</div>
    <div class="form-group">
			<label>Status</label>
			<input name="status" class="form-control" ng-model="medico.status" required>
		</div>
		<div class="form-group">
			<label>Estado</label>
			<input name="estado" class="form-control" ng-model="medico.estado" required>
		</div>
		<div class="form-group">
			<label>Cidade</label>
			<input name="cidade" class="form-control" ng-model="medico.cidade" required>
		</div>
		<a href="/medicos" meu-focus class="btn btn-primary">Voltar</a>
		<hr>
	</div>

</form>
