<div class="row">
  <div class="col-lg-5">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Primeiro Nome</label>
      <div class="col-10">
        <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
      </div>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-5">
    <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label">Último Nome</label>
      <div class="col-10">
        <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
      </div>
    </div>
  </div>
</div>



<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Especialidade</label>
  <div class="col-10">
    <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Ativo</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Status</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Estado</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Cidade</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
  </div>
</div>
