
<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Primeiro Nome</label>
			<input name="primeiroNome" class="form-control" ng-model="medico.primeiroNome" ng-minlength="5" required>

			<span ng-show = "formulario.$submitted && formulario.primeiroNome.$error.required"
				class="form-control alert-danger">
				Primeiro Nome obrigatorio
			</span>
			<span ng-show="formulario.$submitted && formulario.primeiroNome.$error.minlength"
				class="form-control alert-danger">
				No máximo 5 caracteres!
			</span>
		</div>
    <div class="form-group">
			<label>Último Nome</label>
			<input name="ultimoNome" class="form-control" ng-model="medico.ultimoNome" ng-minlength="5" required>

			<span ng-show = "formulario.$submitted && formulario.ultimoNome.$error.required"
				class="form-control alert-danger">
				Último Nome obrigatorio
			</span>
			<span ng-show="formulario.$submitted && formulario.ultimoNome.$error.minlength"
				class="form-control alert-danger">
				No máximo 5 caracteres!
			</span>
		</div>
    <div class="form-group">
			<label>Especialidade</label>
			<input name="especialidade" class="form-control" ng-model="medico.especialidade" ng-minlength="5" required>

			<span ng-show = "formulario.$submitted && formulario.especialidade.$error.required"
				class="form-control alert-danger">
				Especialidade obrigatorio
			</span>
			<span ng-show="formulario.$submitted && formulario.especialidade.$error.minlength"
				class="form-control alert-danger">
				No máximo 5 caracteres!
			</span>
		</div>
    <div class="form-group">
			<label>Email</label>
			<input name="email" class="form-control" ng-model="medico.email" ng-minlength="10" required>

			<span ng-show = "formulario.$submitted && formulario.email.$error.required"
				class="form-control alert-danger">
				Email obrigatorio
			</span>
			<span ng-show="formulario.$submitted && formulario.email.$error.minlength"
				class="form-control alert-danger">
				No máximo 10 caracteres!
			</span>
		</div>
    <div class="form-group">
			<label>Ativo</label>
			<label>
    	<input type="radio" name="test" ng-model="medico.ativo" ng-value="true">True</label>
			<label>
    	<input type="radio" name="test" ng-model="medico.ativo" ng-value="false">False</label>
		</div>

    <div class="form-group">
			<label>Status</label>
			<input name="status" class="form-control" ng-model="medico.status" required>
		</div>

		<div class="form-group">
			<label>Estado</label>
			<select name="estado" class="form-control" ng-model="medico.estado" required>
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AP">Amapá</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="DF">Distrito Federal</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MT">Mato Grosso</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MG">Minas Gerais</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PR">Paraná</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="SC">Santa Catarina</option>
				<option value="SP">São Paulo</option>
				<option value="SE">Sergipe</option>
				<option value="TO">Tocantins</option>
			</select>
		</div>

		<div class="form-group">
			<label>Cidade</label>
			<input name="cidade" class="form-control" ng-model="medico.cidade" required>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
			Cadastro
		</button>
		<a href="/medicos" meu-focus class="btn btn-primary">Voltar</a>
		<hr>
	</div>

</form>
