
<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Primeiro Nome:</label>{{medico.primeiroNome}}
		</div>
    <div class="form-group">
			<label>Último Nome:</label>{{medico.ultimoNome}}
		</div>
    <div class="form-group">
			<label>Especialidade:</label>{{medico.especialidade}}
		</div>
    <div class="form-group">
			<label>Email:</label>{{medico.email}}
		</div>
    <div class="form-group">
			<label>Ativo:</label>{{medico.ativo}}
		</div>
    <div class="form-group">
			<label>Status:</label>{{medico.status}}
		</div>
		<div class="form-group">
			<label>Estado:</label>{{medico.estado}}
		</div>
		<div class="form-group">
			<label>Cidade:</label>{{medico.cidade}}
		</div>
		<a href="/medicos" meu-focus class="btn btn-primary">Voltar</a>
		<hr>
	</div>

</form>
